.noul {
  text-decoration: none;
}
.hover {
  text-decoration: underline;
}
body {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  margin: normal;
}
.fixed {
  positio: fixed;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.sticky {
  position: sticky;
}
.flex {
  display: flex;
}
.aic {
  align-items: center;
}
