.hover {
  text-decoration: underline;
}
body {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  margin: normal;
}
.fixed {
  positio: fixed;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.sticky {
  position: sticky;
}
.flex {
  display: flex;
}
.aic {
  align-items: center;
}
.font {
  font-weight: normal;
  font-family: "open sans", sans-serif;
}
.font1 {
  font-weight: 300;
  font-family: "open sans", sans-serif;
}

.fontb {
  font-weight: 700;
  font-family: "open sans", sans-serif;
}
.b {
  font-weight: bold;
}
.s12 {
  font-size: 12px;
}
.s13 {
  font-size: 13px;
}
.s14 {
  font-size: 14px;
}
.s16 {
  font-size: 16px;
}
.s18 {
  font-size: 18px;
}
.s20 {
  font-size: 20px;
}
.s24 {
  font-size: 24px;
}
.s28 {
  font-size: 28px;
}
.s30 {
  font-size: 30px;
}
.noul {
  text-decoration: none;
}
.noulh.hover {
  text-decoration: underline;
}
.color {
}
